# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
data/Biketown PDX
data/Chicago_Divvy
data/LA Metro
data/Nashville_B-Cycle
data/NYC_CitiBike
data/San Francisco
data/Washington DC_capital_bikeshare
Data/Nashville Budget

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
